.container-new {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas:  
        "sidebar headline headline headline"
        "sidebar content1 content1 content1"
        "sidebar content1 content1 content1"
        "sidebar footer footer footer";
    grid-gap: 5px;
}

#headline {
    grid-area: headline;
    color: var(--dark);
}
